<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"-->
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Roshan Singha. It uses data from mapbox.com and weatherstack.com</p>
    <img class="potrait" src="/img/me.jpg">
    </div>
    
    {{>footer}}
</body>

</html>